
    /* Ajoutez ceci à votre fichier CSS */
.text-decoration-none {
    text-decoration: none; /* Pas de soulignement pour les liens */
}

.primary-btn {
    width: 100%; /* Le bouton occupe toute la largeur */
    padding: 12px; /* Espacement intérieur */
    font-size: 1.1rem; /* Taille de la police du bouton */
    border-radius: 5px; /* Coins arrondis */
}

.form-control {
    height: 55px; /* Hauteur des champs d'entrée */
    font-size: 1.1rem; /* Taille de la police des champs d'entrée */
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
}

/* Styles pour les champs d'entrée au focus */
.form-control:focus {
    border-color: #007bff; /* Couleur de la bordure au focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre légère au focus */
}
.form-check {
    display: flex; /* Utiliser flex pour aligner les éléments */
    align-items: center; /* Alignement vertical */
}

.invalid-feedback {
    font-size: 0.9rem; /* Taille de police des messages d'erreur */
    color: #e74c3c; /* Couleur rouge pour les erreurs */
}
